spring:
  datasource:
    url: jdbc:mariadb://localhost:3307/flea_market_db?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
    username: root
    password: 440281
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    database-platform: org.hibernate.dialect.MariaDBDialect
    properties:
      hibernate:
        jdbc:
          time_zone: Asia/Shanghai
  profiles:
    active: dev
  security:
    user:
      name: admin
      password: admin
      roles: ADMIN

#jwt config
jwt:
  tokenHeader: Authorization #JWT存储的请求头
  secret: mall-jwt-test #jwt加解密使用的密钥
  expiration: 36000000 #JWT的超时时间
  tokenHead: Bearer #JWT负载中拿到的开头

# 接口文档配置
knife4j:
  production: false
  enable: true
  setting:
    language: zh_cn
  openapi:
    title: 跳蚤市场API文档
    description: 跳蚤市场系统接口文档
    version: 1.0.0
    concat: zhp@example.com
    url: http://localhost:8080
